@font-face {
  font-family: myFont;
  src: url(fonts/Far_Rooznameh.ttf);
}

.card {
    background-color: white;
    border: 2px solid black;
    width: 250px;
    padding: 10px;
    text-align: center;
    margin: 20px;
  }
  h2 {
    color: navy;

  }


  h1 {
    font-family:'myFont';
    color: blueviolet;
}
p {
    color: blue;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 20px 30px 40px;
}

.red {
  color: red;
  padding-top: 30px;
  text-align: center;
}

.green {
  color: green;
  border: 1px;
  border-color: black;
  border-style: double;
}

#link {
  color: black;
  background-color: aqua;
}