.container{
    width:50%;
    margin: 1% auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    aspect-ratio: 1/1;
    gap: 1%;
}

.container > * {
    background-color: rgba(255, 0, 0, 0.6);
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.container > *:hover {
    background-color: rgba(255, 0, 0, 0.9);
    cursor: pointer;
}

.tall {
    grid-column: 3;
  grid-row: 2 / span 2;
}
.taller {
    grid-column: 1;
  grid-row: 1 / span 3;
}