.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
    width: 50%;
    margin: 0 auto;
  }
  
  .container > * {
    background-color: rgba(255, 0, 0, 0.3);
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    aspect-ratio: 1/1;
  }
  
  .container > *:hover {
    background-color: rgba(255, 0, 0, 0.6);
    cursor: pointer;
  }
  .item4 {
    grid-column: span 2;
    aspect-ratio: 2/1;
  }
  .item6 {
    grid-column: 1 / -1;
    aspect-ratio: 3/1;
  }